@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

@font-face {
    font-family: 'Hero', sans-serif;
    src: url(/assets/font/hero2/HeroLight-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}

a { color: inherit; }

/*cores*/
:root {
    --font-color-menu: #ffffff;
    --font-h1: #90e0ef;
    --font-p:#001219;
    --color-branca: #ffffff;
    --color-azul-claro:  #ffffff;
    --color-azul-pscina: #90e0ef;
    --color-azul-escuro: #163A49;
    --color-azul-medio: #4180aa;
    --color-azul-mais-escuro: #0d2530;
    --color-botoes: #9FD7ED;
    --color-background-section-2: #d2ddf8;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*Header***************************/
header {
    font-family: 'Hero', sans-serif;
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-azul-escuro);
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.25);
}
    .header-nav-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .header-figure-perfil{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-img-perfil {
        width: 4rem;
        height: 4rem;
    }
    .header-list-content {
        position: relative;
        gap: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-link-menu {
        color: var(--color-branca);
        font-weight: 400;
        position: relative;
        display: flex;
        overflow: hidden;
        padding: .2rem 0;
        transition: color .3s;
    }
        .header-link-menu::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: var( --color-azul-pscina);
            top: 90%;
            translate: -100% 0;
            transition: translate .3s, color .3s;
        }
        .header-link-menu:hover {
            color: var(--color-azul-pscina);
        }
        .header-link-menu:hover::before {
            translate: 0% 0;
        }

/*Main***************************/
main{
    background-image: url(img-main.jpg);
}
    .main-section-1{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .main-section-1-1{
            height: 350px;
            width: 100%;
        }
    .main-section-1-div_titulos{
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
    } 
        .main_titulos_h1{ 
            font-size: 64px ;
            color: var(--color-azul-escuro);
            text-shadow: 2px 2px 5px #00b4d8;   
            text-align: center;
            margin-bottom: 2%;
        }
        .main-section-1-div_titulos-p{
            font-size: 19px ;
            font-weight: 500;
            line-height: 32px;
            color: var(--color-azul-escuro);
            margin-bottom: 4%;
            text-align: center;
        }
    /*Botões*/
    .main-section-1-div_button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        gap: 30px;
    }
        #main-div_button-Linkedin, #main-div_button-GitHub, #main-div_button-Projetos{
            border-radius: 8px;
            font-size: 16px;
            height: 56px;
            width: 166px;
            color: var(--color-azul-claro);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #main-div_button-Projetos{
            background-color: var(--color-azul-escuro);
            border: none; 
            color:var(--color-azul-claro);
        }
        #main-div_button-GitHub, #main-div_button-Linkedin {
            background-color: var(--color-azul-escuro);
            color: var(--color-azul-claro);
        }

/*Section-2***************************/
.section-2-background{
    background-color: var(--color-background-section-2);
}
.section-2{
    border-radius: 2em;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 6%;
    margin-left: 4%;
    margin-right: 4%;
 }
    .section-2_conteudo{
        width: 100%;
        height: auto;
        /*height: 64%;*/
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .section-2_conteudo-h5{ 
        /**/ font-size: 28px;
        text-align: justify;
        margin-top: 2%; 
        margin-left: 4%; 
        color: var(--color-azul-mais-escuro);
     }
    .section-2_conteudo_eu, .section-2_conteudo_Skills{
         width: 100%;
         height: 22em;
     }
    /*Sobre Eu*/
    .section-2_conteudo_eu{}
        .section-2_conteudo_eu_p{
             width: 550px;
            margin-top: 2%; 
             margin-left: 4%; 
        }
            #section-2_conteudo_eu_p{
                font-size: 17px ;
                font-weight: 500;
                color: var(--font-p) ;
                line-height: 24px;
                text-align: justify;
                margin-top: 2%;
            }
    /*Skills*/
    .section-2_conteudo_Skills{}
         .section-2_conteudo_Skills-Hard{}
         .section-2_conteudo_Skills-Soft{
             margin-top: 4%;
         }
            .section-2_conteudo_Skills-Soft-div{
                width: 32%;
            }
            .section-2_conteudo-Skills{
                display: flex; 
                gap: 30px;
                font-weight: 500;
                margin-top: 2%; 
                margin-left: 4%; 
             }
             #section-2_conteudo-Skills{
                background-color: var(--color-azul-medio);
                color: var(--color-branca);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 6px;
                width: 100%;
                height: 50px;
                padding-left: 2%;
                padding-right: 2%;
            }

/*Section-3***************************/
.section-3{
    text-align: center;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
    /*Titulo e Texto*/
    .section-3-Projetos-Titulos{ }
    .section-3-txt-titulo{ }
        #section-3-txt-H2{
            color: var(--color-azul-mais-escuro);
            font-size: 26px;
            text-align: justify;
            margin-left: 2%;
        }
    
/*Projetos*/
.section-3-Projetos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
    .section-3-Projetos_img{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #section-3-Projetos_img{
            width: 26em;
        }
    .section-3-Projetos_informacoes{
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .section-3-Projetos_info{}
            .section-3-Projetos_info-h3{
                text-align: justify;
                margin-bottom: 2%;
            }
            .section-3-Projetos_info-p{
                text-align: justify;
                margin-bottom: 2%;
            }
            .section-3-Projetos_info-btn{
                height: 50px;
                width: 160px;
                background-color: var(--color-azul-escuro);
                text-align: justify;
                border-radius: 6px;
                font-size: 16px;
                color: var(--color-branca);
                display: flex;
                justify-content: center;
                align-items: center;
            }

 /*footer***************************/
footer{
    height: 300px;
    margin-top: 2%;
    gap: 50px;
    background-color: var(--color-azul-escuro);
}
/*div de cima*/
.footer-div_cima{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.footer-div1, .footer-div2{
    width: 50%;
    height: 180px; 
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}      
    #footer-div1,  #footer-div2{}
    .footer-div1_h5,  .footer-div2_h5{
        display: flex;
        text-align: justify;
    }
    #footer-div1_h5, #footer-div2_h5{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-botoes);
    }
    .footer-div1_p, .footer-div2_p{}
    #footer-div1_p,  #footer-div2_p{
        font-size: 16px;
        color: #ffffff;
        line-height: 32px;
        font-size: 15px ;
        color: var(--color-branca) ;
        line-height: 24px;
    }
    .footer_hr{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }
        #footer_hr-id{
            width: 88%;
            border-radius: 8px;
            align-items: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: solid 1px #ffffff;;    
        }
/*Div de baixo*/
.footer-div_baixo{
    margin-left: 4%;
    margin-right: 4%;
}      
    #footer-div_baixo_copy{
        font-size: 14px;
        text-align: center;
        color: var(--color-azul-claro);
        }